@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,100&family=Tiro+Devanagari+Hindi&family=Tiro+Devanagari+Marathi:ital@0;1&family=Tiro+Devanagari+Sanskrit:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,300&family=Roboto:ital,wght@0,400;0,700;1,100&family=Tiro+Devanagari+Hindi&family=Tiro+Devanagari+Marathi:ital@0;1&family=Tiro+Devanagari+Sanskrit:ital@0;1&display=swap');

html{
  scroll-behavior: smooth;
}

:root{
  --brown-color: #6f4e37;
  --white-color: #fff;
  --semi-light-color: #f1f1f1;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto';
  background: var(--white-color);
}

.container{
  margin: 0 auto;
}

/* Navbar Section */

#title {
  font-family: 'Tiro Devanagari Sanskrit';
  font-size: 1.9rem;
  display: inline;
  color: var(--brown-color);
  letter-spacing: 1.5px;
}

.logo{ 
  cursor: pointer;
}

.logo-icon{
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

#menu-icon{
  font-size: 2rem;
  color: var(--brown-color);
  cursor: pointer;
  display: none;
  transition: .3s;
}

#menu-icon:hover {
  opacity: 0.6;
}

#close-btn{
  font-size: 2rem;
    color: var(--white-color);
    cursor: pointer;
    display: none;
}

nav{
  display: flex;
  justify-content: space-around; 
  align-items: center;
  margin-top: 2rem;
}

.nav-links{
  display: flex;
}

.nav-links li {
  list-style: none;
  padding-left: 20px;
}

.nav-links a{
  color: var(--brown-color);
  list-style: none;
  text-decoration: none;
}

a{
  transition: .3s;
}

.nav-links a:hover {
  opacity: 0.6;
}

@media(max-width:768px){
  body{
    overflow-x: hidden;
  }
  #title{
    margin-bottom: 50px;
    font-size: 1.5rem;
    display: block;
  }

  .logo{
    margin-left: 10vw;
  }

  nav{
    justify-content: space-around;
  }

    .bg-div{
      background-color: var(--brown-color);
    }

  .logo{
    margin-top: 50px;
  }

  .nav-links{
    position: absolute;
    bottom: 0.01rem;
    right: 0;
    width: 50vw;
    height: 100%;
    overflow: hidden;
    background: var(--brown-color);
    background-position: cover;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform .3s ease-in;
    z-index: 999;
  }

    .nav-links li {
      margin-left: 0;
    }

    #menu-icon{
      display: block;
      color: var(--brown-color);
      margin-right: 5rem;
    }

    #close-btn{
      display: block;

    }

        #close-btn:hover {
          opacity: 0.6;
          transition: .3s;
        }

  

  .nav-links a {
    color: var(--white-color);
    font-size: 1.2rem;
  }
}

.nav-links.active{
  transform: translateX(0);
}
/* End of Navbar Section */

/* Banner Section */
.banner-title{
  background-color: var(--brown-color);
  color: var(--white-color);
  text-align: center;
  font-size: 0.9rem;
  padding: 12px;
  margin-top: 50px;
}

@media screen and (max-width:768px) {
  .banner-title{
    margin-top: 0px;
  }
}

.banner-title a{
  text-decoration: underline;
  color: var(--white-color);
}

.banner-text{
  font-family: 'Tiro Devanagari Sanskrit';
  text-align: left;
  text-transform: uppercase;
  position: relative;
  margin-top: 8rem;
  margin-left: 8rem;
  font-size: 2.7rem;
  color: var(--semi-light-color);
}

.banner-text p{
  font-family: 'Roboto';
  font-size: 1.2rem;
  text-transform: initial;
}

@media screen and (max-width: 768px){
  .banner-text {
    text-align: center;
      font-size: 2.2rem;
      margin-top: 0rem;
      margin-left: 0rem;
      top: 27%;
    }
  .banner-text p {
    font-size: 1rem;
  }
}

.banner{
  background-image: url(/images/banner.jpg);
  opacity: 0.94;
  width: 100vw;
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
}

.banner:before{
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.banner .waves{
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}

@media screen and (min-width:992px) {
  .banner {
    height: 55vh;
  }
}

@media screen and (max-width:992px){
  .banner {
      height: 55vh;
    }
}

@media screen and (min-width:1200px){
  .banner-text{
    font-size: 3.4rem;
    margin-left: 15rem;
  }
  .banner {
      height: 60vh;
    }
}
/* End ofBanner Section */

/* Cards Section */

.cards-title{
  font-family: 'Tiro Devanagari Sanskrit';
  text-align: center;
  font-size: 1.8rem;
  letter-spacing: 1.8px;
  margin-top: 8rem;
  margin-bottom: 25px;
}

.card-type{
  text-align: center;
  display: flex;
  justify-content: center;
}

.card-btns{
  letter-spacing: 1.1px;
  text-decoration: none;
  text-align: center;
  color: black;
  font-weight: bold;
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 18px;
}
.card-btns:hover{
  color: var(--brown-color);
}

.card-btns.active{
  color: var(--brown-color);
  transition: .1s;
  border: 2.5px solid var(--brown-color);
}

.cards-container{
  margin-top: 5rem;
  gap: 50px;
  display: flex;
  justify-content: center;

}

.cards-container2{
  margin-top: 5rem;
  gap: 50px;
  display: none;
  justify-content: center;

}

.cards h3{
  opacity: 0.7;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 0.9em;
}

.cards h4{
  text-transform: capitalize;
  margin-bottom: 15px;
  cursor: pointer;
}

.cards h4:hover{
  text-decoration: underline;
}

.cards p{
  margin-bottom: 15px;
}

.cards i{
  margin-bottom: 15px;
}

.cards{
  background-color: #fff;
  border-radius: 35px;
  text-align: center;
}

.cards:hover{
  transition: .3s ease;
  box-shadow: 0 0 30px -18px;
}

.cards img{
  cursor: pointer;
}

.card-images{
  border-radius: 35px;
}



@media screen and (max-width: 1400px){
.cards-container{
  flex-wrap: wrap;
}

.cards-container2{
  flex-wrap: wrap;
}

body{
  overflow-x: hidden;
}

}

.card-images{
  width: 200px;
}

.star-icon{
  color: #DBA800;
}

/* End of Cards Section */

/* Customers Section */
.customer-section{
  margin-top: 8rem;
}

@media screen and (min-width: 992px){
  .customers-container{
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  .customer-cards{
    width: 480px;
  }
}

.badge-icon{
  margin-bottom: 0.5rem;
  width: 60px;
}

.customer-header{
  text-align: center;
  margin-bottom: 4rem;
}

.customers-title{
  font-family: 'Tiro Devanagari Sanskrit';
  text-transform: uppercase;
  font-size: 1.6rem;
}

.customer-cards{
  background: var(--white-color);
  border-radius: 35px;
  padding: 23px;
  margin: 0 18px;
  margin-bottom: 18px;
  line-height: 1.3;
  box-shadow: 0 0 27px -20px;
}

.customer-cards h3{
  /* font-family: 'Raleway'; */
  margin-bottom: 10px;
}

.customer-cards h4 {
  margin-top: 6px;
}

/* End of Customers Section */

/* Slider Section */

.slider-title{
  font-family: 'Tiro Devanagari Sanskrit';
  font-size: 2.1rem;
  text-align: center;
  margin-top: 8rem;
}
.slider-container {
  margin-top: 2rem;
  display: flex;
  width: 99vw;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
  border-radius: 45px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
}

.panel h1 {
  font-family: 'Tiro Devanagari Sanskrit';
  font-size: 2rem;
  font-weight: light;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h1 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media screen and (min-width: 992px){
  .panel{
    height: 50vh;
    width: 20vw;
  }
}

@media screen and (min-width: 992px){
  .slider-container{
    padding: 0 10rem;
  }
}

@media(max-width: 576px) {
  .slider-container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
/* End of Slider Section */

/* About Us Section */
.about-container{
  margin-top: 8rem;
  margin: 8rem 2rem;
  text-align: center;
}

.info-icon{
  width: 25px;
}

.about-container h1{
  font-family: 'Tiro Devanagari Sanskrit';
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.about-container p{
  font-size: 1.1rem;
}

/* End of About Us Section */


/* Background Image */
.bg-image{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Newsletter Section */
.scoop-icon{
  width: 40px;
}

.nl-container{
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 5rem;
  padding: 50px;
  color: #361509;
  z-index: 1000;
}

.nl-container h2{
  font-family: 'Tiro Devanagari Sanskrit';
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.nl-container p{
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.nl-container input{
  margin-right: 1rem;
  padding: 15px;
  border-radius: 15px;
  border: 2px solid #ccc;
}
.email-input{
  font-size: 1rem;
  width: 45%;
}

.email-input:placeholder-shown{
  font-size: 1rem;
}

.email-input:focus{
  outline: none;
}

.btn-submit{
  color: var(--white-color);
  cursor: pointer;
  border: 1px solid #361509;
  border-radius: 15px;
  padding: 15px;
  padding: 15px 3.2rem;
  background-color: #361509;
  font-size: 1rem;
}
/* End of Newsletter Section */

/* Footer */
.footer-logo{
  width: 60px;
  margin-bottom: 12px;
}

footer{
  background-color: #222222;
  color: var(--white-color);
  padding: 3.5rem;
}

.footer-container{
  display: flex;
  justify-content: space-around;
}

.contact-info p{
  margin-top: 1rem;
}

.social-icons{
  font-size: 1.5rem;
  cursor: pointer;
  margin-top: 1rem;
  margin-right: 10px;
}

.social-icons:hover{
  transition: .2s ease-in;
  opacity: 0.6;
}

@media screen and (max-width:768px) {
  .footer-container {
      flex-direction: column;
      gap: 4rem;
    }
}
/* End of Footer */